################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PromptTests
/src/bin/Debug
/src/obj
/src/bin/Release/net6.0
/src/bin/Release/prompt-llm-aoi.1.0.1.nupkg
/src/bin/Release/prompt-llm-aoi.1.0.2.nupkg
