################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PromptTests
/src/bin/Debug
/src/obj
/src/bin/Release/net6.0
*.nupkg
